---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">Get in touch with me!</h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500 not-italic">Contact Details</h2>
      <p>oscar@softwhale.be</p>
      <p>Belgium</p>
    </address>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Socials</h2>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
        </li>
        <li>
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
        <li>
          <a href={LINKS.twitter} target="_blank">Twitter</a>
        </li>
        <li>
          <a href={LINKS.medium} target="_blank">Medium</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
